.side-drawer{
    height: 100%;
    background: #2F2F2F;
    width: 90%;
    color:#fff;
    position: fixed;
    top:0;
    left:0;
    box-shadow: 2px 0 5px rgba(0,0,0,.5);
    z-index: 20;
    max-width: 400px;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
}
.side-drawer.open{
  transform: translateX(0%);
    
}
.side-drawer__logo{
	text-align: center;
}
.side-drawer__text{
  	font-size: 25px;
}
.side-drawer__navigation{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.side-drawer-navigation__link{
	padding: 10px 0;
	color:#fff;
	font-size: 20px;
	font-weight: 100;
}
.side-drawer__btns{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.side-drawer-btns-container-link{
	color:#fff;
	font-size: 15px;
}
.side-drawer-btns-container-link:hover,.side-drawer-navigation__link:hover{
	color:#00C48C;
}