.account__info {
  width: 65%;
  border: 1px solid #000000;
  border-radius: 10px;
}
.info-box {
  padding: 20px;
}
.info-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.info-item {
  padding: 5px;
}
