.addsubcategorie-isimg,
.addsubcategorie-isgroup,
.addsubcategories-categorie {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.addsubcategories-btn {
    display: flex;
    justify-content: space-around;
}
