.blog__item{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}
.blog-item-info{
    padding: 30px;
    max-width: 500px;
}
.item-info:hover{
    cursor:pointer;
    box-shadow: 41px -16px 29px 1px rgba(0,0,0,0.8);
}
@media screen and (max-width:900px){
    .blog__item{
        flex-direction: column;
        align-items: center;
    }
}