.form-block {
    .ant-form-item-label {
        display: flex;
        justify-content: space-between;
    }

    .ant-form-item-label {
        width: 100px;
    }

    .login-btn {
        display: flex;
        justify-content: space-around;
    }
}
