.wish__empty{
    text-align: center;
    padding: 100px;
}
.wish-empty-title{
    font-weight: 600;
    padding-bottom: 30px;
}
.wish-empty-btn{
    background-color: #00c48c;
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
}
.wish-empty-btn a{
    color:#ffffff;
}
