.account__order{
    width: 65%;
    border: 1px solid #000000;
    border-radius: 10px;
}
.order-box{
    padding: 20px;
}
.order-title{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.order-list{
    margin: 20px;
}
.order-item{
    padding: 20px;
    margin: 10px 0;
    border:1px solid #000000;
    border-radius: 20px;
}